.body {
    /*font-family: Arial, sans-serif;*/
    margin: 0;
    padding: 0;
    color: black;
    background-color: #400080;
    font-weight: bold;
  }
    
  main {
    /*max-width: 800px;*/
    width: 90%;
    margin:0 auto; /*20px auto;*/
    padding: 0 20px;
  }

  main h1 {
    margin: 0;
    font-size: 3em;
    text-align: center;
    color: white;
    background-color: #000;
  }

  main h2 {
    font-size: 28px;
    margin-top: 40px;
  }
  
  main p {
    line-height: 1.5;
    margin-top: 20px;
  }
  
  main ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
  }
  
  main li {
    margin-bottom: 10px;
  }
  
  .imagenes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .imagenes img {
    max-width: 30%;
  }
  