/*fuente google: Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/*colores */
:root {
  --color-fondo-titulo: rgba(102, 8, 99, 0.8);
  --color02-fondo-titulo: rgba(10, 10, 10, 0.8);
  --color-texto-titulo2: rgba(250, 250, 250, 0.89);

  /*colores para la calesita -carrousel*/
  --negro: #393939;
  --fondo-01-carr: #400080;
  --fondo-01-carr-grande: rgba(42, 20, 87, 0.877);
  --blanco: #8f8b8bd8;
  --borde-punto: rgba(72, 72, 75, 0.8);
  --sombra-ppal: #413f3f;
  --sombra-sec: #0d345aaf;
  --borde-negro: #000000c9;
  --punto-activo: rgba(138, 11, 131, 0.8);
}

/****/

html {
  font-family: 'Ubuntu', sans-serif;
  min-width: 420px;
  /* Tamaño de pantalla minima de visualizacion*/
}

/***** formato a la calesita ********/
main.caminito-main div.carrousel {
  width: 90%;
  max-width: 120em;
  min-width: 20em;
  padding: 2em 2.5em;
  margin: 0 auto;

  /*formato y colores */
  color: var(--negro);
  border-radius: 2em;
  background-color: var(--fondo-01-carr);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec);
  overflow: hidden;
  transition: all 1s ease-in-out;
}

main.caminito-main div.carrousel div.grande {
  width: 500%;
  /* tiene un ancho del total de imagenes que contenga, en este caso serian X imagenes = 200%*/

  /*para que aparezcan junto una a la otra */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2.5em;

  /*formato y colores */
  color: var(--color-fondo-titulo);
  border-radius: 3em;
  background-color: var(--fondo-01-carr-grande);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--borde-negro);

  transform: translateX(0%);
  /* con -X% se mueve hacia la izq, mostrando la segunda foto */
  transition: all 0.5s ease-in-out;
}

main.caminito-main div.carrousel .img {
  width: calc(100%/5 - 5.2em);
  /* porque son X=5 imaganes*/
  min-height: 10vh;
  max-height: 50vh;
  min-width: 13em;
  /******/

  /*colores y formato*/
  color: var(--negro);

  border-radius: 2em;
  background-color: var(--color-fondo-titulo);
  box-shadow: 1em 1em 3em var(--sombra-ppal), -1em -1em 3em var(--sombra-sec);
  /*box-shadow: 0.5em 0.5em 2em var(--blanco), -0.5em -0.5em 2em var(--sombra-sec);*/
  transition: all 0.7s ease;
}

main.caminito-main div.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  /*background-color: red;*/
  padding: 0.4em;
  /*1em;*/

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

main.caminito-main div.carrousel .punto {
  width: 2em;
  height: 2em;
  /*background-color: blue;*/
  margin: 1em 1em 0;
  /*0.2em; /*1em;*/

  /*colores y formato */
  transition: all 0.4s ease;
  border-radius: 1em;
  border: 1px solid var(--borde-punto);
  background-color: var(--negro);
  box-shadow: 0.5em 0.5em 0.5em var(--negro), -0.2em -0.2em 0.5em var(--sombra-sec);
}

main.caminito-main div.carrousel .punto.activo {
  background-color: var(--punto-activo);
  border: 5px solid var(--negro);
  box-shadow: 0.2em 0.2em 0.7em var(--sombra-sec), -0.6em -0.6em 1.2em var(--sombra-sec);
  transition: all 0.4s ease;
}

/********** fin calesita ***********/

body.body-banda,
body.body-videos,
body.body-caminito {
  margin: 0;
  padding: 0;
  color: var(--color-texto-titulo2);
  background-color: #400080;
  font-weight: bold;
}

main.banda-main,
main.videos-main,
main.caminito-main {
  width: 100%;
  margin: 0 auto;
  margin-top: 3em;
}

main.banda-main h1,
main.videos-main h1,
main.caminito-main h1 {
  margin: 0;
  font-size: 3em;
  text-align: center;
  color: white;
  background-color: var(--color02-fondo-titulo);
}

main.banda-main h2,
main.caminito-main h1 {
  font-size: 2.5em;
  margin-top: 40px;
  text-align: center;
  color: var(--color-texto-titulo2);
}


main.banda-main p,
main.caminito-main p {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
  margin-top: 20px;
  font-size: 1.2em;
}

main.banda-main ul {
  width: 100%;
  margin-top: 20px;
  list-style: none;
  text-align: center;
}

main.banda-main li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

main.caminito-main .caminito-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.8em;
  padding: 1em;
  /*background-color: var(--fondo-01-carr-grande);
  width: 95%;
  border-radius: 3em;*/
}

main.caminito-main div.audios {
  min-width: 370px;
  max-width: 30em;
  min-height: 4em;
  max-height: fit-content;
  margin: 0 auto;
  padding: 0.5em 1em;
  background-color: var(--fondo-01-carr-grande);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--borde-negro);
  /*box-shadow: 0.5em 0.5em 2em var(--blanco), -0.5em -0.5em 2em var(--sombra-sec);*/
  border-radius: 5%
}

main.caminito-main div.audios h2 {
  text-align: center;
}


main.caminito-main div.audios iframe.iframe-chico {
  width: 100%;
  height: 10em;
  border-radius: 3%;
}

main.caminito-main div.audios iframe.iframe-grande {
  width: 100%;
  height: 20em;
  border-radius: 5%;
}

/*** pagina de bandas ***/
main.banda-main div.imagenes-bandas {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.8em;
  padding: 1em;

}

main.banda-main div.imagenes-bandas img.imagenB {
  min-width: 370px;
  max-width: 30em;
  min-height: 4em;
  max-height: fit-content;
  margin: 1em auto;
  padding: 0.5em 1em;
  background-color: var(--fondo-01-carr-grande);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--borde-negro);
  /*box-shadow: 0.5em 0.5em 2em var(--blanco), -0.5em -0.5em 2em var(--sombra-sec);*/
  border-radius: 5%
}

/******/

.imagenes {
  display: flex;
  justify-content: space-between;
  /*margin-top: 20px;*/
}

.imagenes img {
  max-width: 30%;
  padding: 0 1em;
}


/************************************************************************/
/***                                                                  ***/
/***                            MEDIA QUERIES                         ***/
/***                                                                  ***/
/************************************************************************/

@media (min-width:576px)

/* and (max-width:768px)*/
  {

  main.banda-main,
  main.videos-main,
  main.caminito-main {
    margin-top: 3.5em;
  }
}

@media (min-width:768px) {

  main.banda-main,
  main.videos-main,
  main.caminito-main {
    margin-top: 5em;
  }

  main.caminito-main .caminito-container {
    grid-template-columns: repeat(2, 1fr);
  }

  main.caminito-main h1 {
    font-size: 2.5em;
  }

  main.caminito-main .caminito-container .audios h2 {
    font-size: 2em;
  }

  main.caminito-main .caminito-container .audios p {
    font-size: 1.5em;
  }

  main.banda-main div.imagenes-bandas {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
    padding: 1.5em;

  }
  main.banda-main div.imagenes-bandas img.imagenB {
    width: 45%;
    margin: 1.6em auto;
    padding: 0.7em 1.3em;
  }

}

/*  de minimo de ancho: 1025px ***/
@media (min-width: 1024px) {
  main.caminito-main .caminito-container {
    grid-template-columns: repeat(3, 1fr);
  }

  main.caminito-main h1 {
    font-size: 4em;
  }

  main.caminito-main .caminito-container .audios h2 {
    font-size: 3em;
  }

  main.caminito-main .caminito-container .audios p {
    font-size: 2.2em;
  }

  main.banda-main div.imagenes-bandas {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3em;
    padding: 1.7em;
  }

  main.banda-main div.imagenes-bandas img.imagenB {
    width: 32%;
    margin: 2em auto;
    padding: 1em 1.5em;
  }
}