* {
    margin: 0;
    padding: 0;
}

body#body-form {
    background: #400080; 
}

main#main-contacto {
    margin-top: 5em;
}

main#main-contacto div h1{
    color: #ffffff;
    background-color: black;
    text-align: center;
    font-size: 3em;
}

form div strong label{
    color: aliceblue;
}

form button{
    width: 100%;
    height: 4em;
}