* {
    margin: 0;
    padding: 0;
}

body{
    background: #400080; 
}

#banner{
    width: 100%;
    height: 25vw;
}

#titulo-sitio{
    font-size: 8vw;
    text-align: center;
    
}

h1{
    color: #ffffff
}

header {
    display: flex;

}

form div strong label{
    color: aliceblue;
}

form button{
    width: 100%;
    height: 4em;
}