body {
	padding: 0;
	margin: 0;
}

header {
	background-color:rgb(152, 17, 179);
	display: flex;
	place-content: space-between; /*alinea los items horizontalmente */
	align-items: baseline;
	padding: 1em;
}

header > h1#titulo-sitio {
	text-transform: uppercase;
	font-size: 1.4em;
	text-shadow: 2px 2px rgba(37, 37, 37, 0.89),3px 3px 5px rgb(45, 134, 235), 2px 2px 3px rgb(41, 27, 235);
	color: #fff;
	margin-top: 0; /*elimina el margen de arriba*/
}

header > h1 > a {
	text-decoration: none;
	color: #fff;
}


a {
	color: rgb(52, 214, 201);
	text-decoration: none;
}

header ul, footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	display: flex;
	place-content: space-between; /*alinea los items horizontalmente */
}

header div.Info-artistas {
	background-color: #400080;
	height: 2em;
	width: 6em;
	font-size: 1.2em;
	border: 1px solid rgb(52, 214, 201);
	border-radius: 5px;
	text-align: center;
	align-items: center;/*no da bola*/

}

footer {
	background-color: rgb(152, 17, 179);
	color: #fff;
	padding: 1em;

	display: flex;
	place-content: space-between; /*alinea los items horizontalmente */
}


/*
body {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    
}
		
h1 {
    

	color: white;
	text-align: center;
	padding: 50px;
	background-color: purple;
	margin: 0;
	text-shadow: 2px 2px #663399;
}

.titulo-sitio {
    width: 100%;
}
		
header {
    display: flex;
    justify-content:flex-start;
}

nav {
	background-color: purple;
	padding: 10px;
    <!-- display: flex; -->
    
}
		
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}
		
nav ul li {
	margin: 0 10px;
	font-size: 18px;
	font-weight: bold;
}
		
nav ul li a {
	color: white;
	text-decoration: none;
	transition: color 0.3s ease;
}
		
nav ul li a:hover {
	color: #663399;
}
	*/	
/* Estilos para el menú hamburguesa */
/*		
.menu-icon {
	display: none;
}
		
.menu-icon img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	padding: 10px;
}
		
@media screen and (max-width: 768px) {
	nav ul {
		display: none;
	}
			
	.menu-icon {
		display: block;
	}
			
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.9);
		display: flex;
		justify-content: center;
		align-items: center;
	}
			
	nav.active ul {
		display: flex;
		flex-direction: column;
	}
			
	nav ul li {
		margin: 10px 0;
	}
			
	nav ul li a {
		color: white;
		font-size: 24px;
		text-decoration: none;
		transition: color 0.3s ease;
	}
			
	nav ul li a:hover {
		color:#663399;
	}
}
*/