/*fuente google: Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/* Declaracion de las variables para los colores del sitio */
:root {
    /*** Colores para el header-menu: texto, fondo y links ***/
    /*** Header top-menu ***/

    --color-fondo-gral: #400080;
    --fondo-top-header: rgba(131, 16, 125, 1);
    --texto-top-header: #fff;

    /**** menu princpal ***/
    --color-fondo-menu: rgba(175, 174, 180, 0.8);
    --color-02-fondo-menu: rgba(92, 2, 62, 0.5);
    --color-03-fondo-menu: rgba(11, 4, 70, 0.5);
    --color-04-fondo-menu:rgba(131, 16, 125, 0.65);
    

    --menu-principal-texto: #fff;
    --menu-principal-02-texto:rgba(15, 15, 15, 0.904); 
    --menu-principal-over-texto: rgb(8, 171, 247);
    --menu-principal-over-fondo: rgba(0, 0, 0, 0.3);
    --sombreado-menu-over: 2px 2px rgb(158, 23, 23);

    /*** Titulo del sitio -> logo ***/
    --color-titulo-sitio: #fff;
    --color-titulo-music: rgba(0, 0, 0, 1);
    --color-02-titulo-music: rgba(80, 8, 196, 0.89);

    --sombreado-titulo-sitio: 2px 2px 2px rgba(54, 56, 59, 0.8), 1px 1px 5px rgba(14, 13, 13, 0.85);
    --sombreado-02-titulo-sitio: 3px 3px 5px rgba(19, 18, 18, 0.7), 1px 1px 3px rgba(241, 10, 241, 0.8);

    --sombreado-titulo-music: 3px 3px 15px rgba(19, 18, 18, 0.952), 1px 1px 3px rgb(10, 241, 210, .5);
    /*, 5px 5px 8px rgb(68, 15, 104), 13px 13px 25px rgba(240, 73, 73, 0.89)*/
    --sombreado-02-titulo-music: 3px 3px 15px rgba(19, 18, 18, .5), 1px 1px 3px rgba(241, 10, 241, 1);
    --sombreado-03-titulo-music: 3px 3px 15px rgba(19, 18, 18, 0.952), 1px 1px 3px rgb(10, 241, 210);

    /*** Colores Boton Artistas ***/
    --btn-artistas: rgb(68, 15, 104);
    --btn-artistas-fondo: #fff;
    --sombreado-btn-artistas: 3px 3px 10px rgb(68, 15, 104), -3px -3px 15px rgb(68, 15, 104);
    --btn-over-artistas: #fff;
    --btn-over-fondo-artistas: rgba(61, 6, 124, 0.911);
    --sombreado-btn-over-artistas: 3px 3px 10px rgb(201, 144, 238), 5px 5px 8px rgb(77, 61, 87), 13px 13px 25px rgba(240, 73, 73, 0.89);
    /** Colores menu artistas ***/
    --color-links-artistas: rgb(245, 138, 17);
    --sombreado-links-artistas: 2px 2px 3px rgba(46, 6, 6, 0.8);

    --sombreado-otro:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    /*** Valores de las transiciones **/
    --transicion-header-menu: all 0.5s ease;
    --filtro-btn-menu:drop-shadow(0px 1px 2px rgb(4, 227, 243));

}  /************************   fin variables ******************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/*** header ***/
header.header-menu {
    display: flex;
    width: 100%;
    height: 3em;
    background: var(--fondo-top-header);
    z-index: 100;
    align-items: center;

    transition: var(--transicion-header-menu);
}


/*** titulo-logo ***/
.header-menu span#titulo-sitio {
    margin: auto 0;
    padding: 0px 0.3em;
    text-transform: uppercase;
    font-size: 1.5em;
    text-shadow: var(--sombreado-titulo-sitio);

    transition: all 0.5s ease;
}
.header-menu span#titulo-sitio a {
    color: var(--texto-top-header);
    text-decoration: none;
}
.header-menu span#titulo-sitio a span#titulo-music {
    font-weight: 900;
    color: var(--color-titulo-music);
    text-shadow: var(--sombreado-titulo-music);
    position: relative;
    left: 1px;
}

/** oculto el input de los botones **/
#btn-menu,
#btn-artistas {
    display: none;
}

/* imagen-menu: 3 rayitas*/
.header-menu label#label-menu-principal {
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    /*cargo la imagen*/
    background-image: url(../icons/menu-regular-24.png);
    background-repeat:no-repeat;
    background-size: contain;

    transition: all 0.35s ease;
    /*border-right: 1px s #fff;*/
}
.header-menu label#label-menu-principal img#img-menu {
    box-sizing:border-box;
    display:block;
    width:30px;        /*Ancho de la imagen nueva.*/
    height:30px;       /*Ancho de la imagen nueva.*/
    padding-left:30px; /*Padding igual al ancho de la imagen nueva, sino, aparece la forma de una imagen*/
    /*background: url(../icons/bx-menu.png);*/
    overflow:hidden;
    
    transition: all 0.35s ease;
}

.header-menu label#label-menu-principal:hover,
.header-menu label#label-menu-artistas:hover {
    cursor: pointer;
    filter: var(--filtro-btn-menu);
}

/******** formato/acciones sobre el menu principal */
.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    text-align: center;
    background: var(--color-fondo-menu);
    width: 100%;
    margin-left: -100%;
    top: 3em;
    bottom: 0px;
    z-index: 5;

    transition: all 1s ease;
}
.menu ul#menu-principal {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    
}
.menu ul#menu-principal li{
    width: 100%;
    background-color: none;
    pointer-events: all;
    transition: all .5s ease;
}
.menu ul#menu-principal li:hover {
    background: var(--menu-principal-over-fondo);
    font-weight: 900;
    transform: scale(1.1);
    text-transform: uppercase;
    transition: all .5s ease;
}

.menu ul#menu-principal li a {
    display: block;
    padding: 2em 0em;
    font-size: 1em;
    color: var(--color-titulo-music);
    /*text-shadow: var(--sombreado-btn-artistas);*/
    /*text-shadow: var(--sombreado-titulo-music);*/
}

.menu ul#menu-principal li a:hover {
    color: var(--menu-principal-over-texto);
    text-shadow: var(--sombreado-menu-over);
}

/***** Boton ARTISTAS: formato y posicionamiento **/
.menu div.artistas{
    display: block;
    position: relative;
    top: 1em;
    width: 100%;
}
.menu #label-menu-artistas {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 95%;
    padding: 0.5em 2em;
    font-size: 1.4em;
    border: 2px solid rgba(177, 9, 243, 0.85);
    border-radius: 2em;
    color: var(--btn-artistas);
    background-color: var(--texto-top-header);
    text-shadow: var(--sombreado-btn-artistas);

    transition: all 1s ease;
}
.menu #label-menu-artistas:hover {
    color: var(--btn-over-artistas);
    background-color: var(--btn-over-fondo-artistas);
    text-shadow: var(--sombreado-btn-over-artistas);

    transition: all 0.5s ease;
}
.menu #label-menu-artistas span.titulo-artistas {
    padding: 0 0.2em;
    width: 100%;
    transition: all 0.5s ease;
}
.menu #label-menu-artistas span.titulo-artistas:hover {
    font-size: x-large;
    transition: all 0.5s ease;
}

/****** formato/acciones sobre el MENU ARTISTAS */
.menu ul#menu-artistas {
    display: none;
    width: 100%;
    margin-top: -100%;
    list-style: none;
    opacity: 0;
    transition: all 0.5s;
}

.menu ul#menu-artistas li {
    /*padding: 0.5em;*/
    /*border-top: 1px solid rgba(102, 8, 60, 0.5);*/
    
    transition: all 0.5s ease;
}

.menu ul#menu-artistas li:hover {
    background: var(--menu-principal-over-fondo);
    text-transform: uppercase;
}

.menu ul#menu-artistas li a {
    display: block;
    padding: 0.7em 0;
    color: black;
    font-size: 1em;
    text-shadow: 2px 2px 4px rgba(166, 12, 238, 0.8), 1px 1px 5px rgba(175, 174, 180, 0.8);
}

.menu ul#menu-artistas li a:hover {
    /*color: var(--menu-principal-over-texto);*/
    color: var(--menu-principal-texto);
    text-shadow: var(--sombreado-03-titulo-music);
    transition: all 0.3s ease;
}


/****************** chequa si estan marcados los inputs-botones ***/
/*** Boton menu ***/
#btn-menu:checked~#label-menu-principal {
    filter: drop-shadow(0px 0px 10px #000);
    transform: rotate(90deg);
    
    transition: all 0.35s ease;
}
#btn-menu:checked~.menu {
    margin-left: 0px;
    box-shadow: 0px 0px 3px #000;
    opacity: 1;
    transition: all 0.5s ease;
}
#btn-menu:checked~label#label-menu-principal{
    background:url(../icons/bx-menu.png);
    background-repeat: no-repeat;
    background-size:contain;
    
    transition: all 0.3s ease;
}

/*** Boton artistas ***/
#btn-artistas:checked~#menu-artistas {
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 15;
    opacity: 1;
    transition: all 0.3s ease;
}
#btn-artistas:checked~#label-menu-artistas {
    color: var(--btn-over-artistas);
    background-color: var(--btn-over-fondo-artistas);
    text-shadow: var(--sombreado-btn-over-artistas);

    transition: all 0.7s ease;
}

/************************************************* MEDIA QUERIES ****/
/********************************************************************/
/* Por defecto esta para Pantallas chicas menores a 575px de ancho*/

/**** Pantallas con ancho minimo de 576px y max de 768px ***/
@media (min-width:576px)/* and (max-width:768px)*/ {

    .header-menu{
        height: 3.5em;
        align-items: center;
    }

    .header-menu span#titulo-sitio {
        /*margin: auto 0;*/
        /*padding: 0px 0.3em;*/
        /*text-transform: uppercase;*/
        font-size: 1.6em;
        text-shadow: var(--sombreado-titulo-sitio);
        transition: all 1s ease;
    }
}


/**** Pantallas con ancho minimo de 769px y max de 1024px ***/
@media (min-width: 768px) {

    .header-menu {
        height: 4em;
        align-items: center;
    }
    .header-menu label#label-menu-principal{
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: row;
        position:sticky;
        justify-content: space-between;
        text-align: center;        
        margin: 0;
        padding: 0;
        background: none;
        height: 4em;
        transition: all 0.5s ease;
    }

    .menu ul#menu-principal {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        
    }

    .menu ul#menu-principal li{
        /*display: inline;*/
        background-color: none;
        pointer-events:visible;
        /*padding: 0 0.7em;*/
        transition: all .5s ease;
    }
    .menu ul#menu-principal li:hover {
        background: var(--menu-principal-over-fondo);
        font-weight:400;
        transform:none;
        /*text-transform:uppercase;*/
        
        transition: all .5s ease;
    }
    
    .menu ul#menu-principal li a {
        display:inline-block;
        align-items: center;
        
        padding: 0.4em 0.5em;
        font-size: 1.2em;
        color: var(--color-titulo-music);
    }
    
    .menu ul#menu-principal li a:hover {
        color: var(--menu-principal-over-texto);
        text-shadow: var(--sombreado-menu-over);
    }



    


    .menu div.artistas{
        display: inline;
        position: relative;
        top: 0;
        /*width: 100%;*/
    }
    .menu #label-menu-artistas {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 50%;
        padding: 0.3em 1em;
        font-size: 1.2em;
        /*border: 2px solid rgba(177, 9, 243, 0.85);*/
       /* border-radius: 2em;*/
        /*color: var(--btn-artistas);*/
        /*background-color: var(--texto-top-header);*/
        /*text-shadow: var(--sombreado-btn-artistas);*/
    
        transition: all 1s ease;
    }
    .menu #label-menu-artistas:hover {
        color: var(--btn-over-artistas);
        background-color: var(--btn-over-fondo-artistas);
        text-shadow: var(--sombreado-btn-over-artistas);
    
        transition: all 0.5s ease;
    }
    .menu #label-menu-artistas span.titulo-artistas {
        padding: 0 0.2em;
        width: 100%;
        transition: all 0.5s ease;
    }
    .menu #label-menu-artistas span.titulo-artistas:hover {
        
        transition: all 0.5s ease;
    }
}
    
 /*   
    .header-menu {
        display: flex;
        flex-direction: row;
        height: 4em;

        transition: all 0.5s ease;
    }

    .menu {
        display: flex;
    }

    .header-menu label#label-menu-principal {
        display: none;
    }

}*/
    /**** Pantallas con ancho minimo de 1025px ***/
   /* @media (min-width:1025px) {}*/