body{
    background: #400080; 
}

#banner{
    width: 100%;
    height: 25vw;
}

#titulo-sitio{
    font-size: 8vw;
    text-align: center;
    
}

h1{
    color: #ffffff
}

header {
    display: flex;

}

.contenedor-header-padre {
    display: flex;
    
}
.header-hijo1 {

}

form {
    background-color:rgba(128, 128, 12, 0.5)

}