/* CSS para la pagina videos */
  main.videos-main .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
  }
  
  main.videos-main .grid-container div.item {
    text-align: center;
  }
  
  main.videos-main .grid-container div.item img {
    width: 200px;
    height: auto;
  }
  